<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<ol>
	<li><a th:href="@{/}">Practice2-01</a></li>
	<li><a th:href="@{/hello/world}">Practice2-02</a></li>
	<hr>
	<li><a th:href="@{/first}">Practice3-01</a></li>
	<li><a th:href="@{/show/redirect_page}">Practice3-02</a></li>
	<hr>
	<li><a th:href="@{/input}">Practice4-01</a></li>
	<li><a th:href="@{/send/get_method(color=abc)}">Practice4-01 URLでGETパラメータ送信</a></li>
	<li><a th:href="@{/favorite/input}">Practice4-02</a></li>
	<hr>
	<li><a th:href="@{/bmi/input}">Practice5-01</a></li>
	<li><a th:href="@{/numguess/start}">Practice5-02</a></li>
	<hr>
	<li><a th:href="@{/fruits/list/all}">Practice6-01</a></li>
	<li><a th:href="@{/fruits/list/sort/season}">Practice6-02</a></li>	
	<li><a th:href="@{/fruits/list/sort/id}">Practice6-03</a></li>
	<li><a th:href="@{/fruits/search/input}">Practice6-04</a></li>
	<li><a th:href="@{/fruits/add/input}">Practice6-05</a></li>
	<li><a th:href="@{/fruits/update}">Practice6-06</a></li>
	<hr>
	<li><a th:href="@{/fruits/area/list/all}">Practice7-01</a></li>
	<li><a th:href="@{/fruits/select/area}">Practice7-02</a></li>
	<hr>
	<li><a th:href="@{/fruits_shop}">Practice8-01</a></li>
	<li><a th:href="@{/fruits_shop/named/input}">Practice8-02</a></li>
	<li><a th:href="@{/fruits_shop/query/input}">Practice8-03</a></li>
	<li><a th:href="@{/fruits_shop/type/sort/bycount}">Practice8-04</a></li>
	<hr>
	<li><a th:href="@{/body_temp/input}">Practice9-01</a></li>
	<hr>
	<li><a th:href="@{/personal_info/input}">Practice10-01</a></li>
	<hr>
	<li><a th:href="@{/filter/abc}">Practice11-01 フィルタでのリダイレクト確認</a></li>
	<li><a th:href="@{/filter/def}">Practice11-01 フィルタでの処理継続確認</a></li>
	<hr>
	<li><a th:href="@{/fortune}">Practice12-01</a></li>
	<li><a th:href="@{/checkbox/input}">Practice12-02</a></li>
	<li><a th:href="@{/layout/first}">Practice12-03</a></li>
	
</ol>		
</body>
</html>